<ion-view view-title="{{DATA.attributes.title}}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon menu-toggle" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="createNewActionPlan()"><i class="fa fa-icon fa-plus"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="ActionPlan" scroll="true">
    <div class="action-plan">
      <div class="plan-settings">
        <i class="fa" ng-class="DATA.attributes.published ? 'fa-lock locked':'fa-unlock' " ng-click="togglePublish(DATA)" ng-if="DATA.attributes.ACL.permissionsById[CurrentUser.id].write"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-cogs" ng-click="showGridBottomSheet()" ng-if="DATA.attributes.ACL.permissionsById[CurrentUser.id].write && !DATA.attributes.published"></i>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-user-plus" ng-click="openShareModal(DATA)" ng-if="DATA.attributes.ACL.permissionsById[CurrentUser.id].write && !DATA.attributes.published"></i>
      </div>
      <div class="plan-owner">
        <div class="owner">Owner: {{CurrentUser.attributes.username}}</div>
        <div class="finalized">Created: {{(DATA.createdAt | date:'medium') || 'n/a'}}</div>
        <div class="finalized">Finalized: {{(FINALIZED | date:'medium') || 'n/a'}}</div>
      </div>
      <div class="plan-title">
        <h1 ng-attr-contenteditable="{{DATA.attributes.ACL.permissionsById[CurrentUser.id].write}}" ng-model="DATA.attributes.title"></h1>
      </div>
      <div class="columns">
        <div class="column header" ng-drag-data="column" ng-repeat="column in DATA.attributes.columns track by $index" ng-drag="DATA.attributes.ACL.permissionsById[CurrentUser.id].write" ng-drop="true" ng-drop-success="moveColumn($index,$data,$event)" ng-mouseenter="columnTools = true" ng-mouseleave="columnTools = false" col="{{$index}}">
          <div class="title" ng-style="{{column.style}}" ng-model="column.title" ng-attr-contenteditable="{{DATA.attributes.ACL.permissionsById[CurrentUser.id].write}}"></div>
          <i class="fa fa-minus-circle" aria-hidden="true" ng-click="deleteColumn($index)" ng-show="columnTools" ng-if="DATA.attributes.ACL.permissionsById[CurrentUser.id].write"></i>
        </div>
        <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addColumn()" ng-if="DATA.attributes.ACL.permissionsById[CurrentUser.id].write"></i>
      </div>
      <div class="rows">
        <div class="item warning" ng-show="DATA.attributes.rows.length == 0"> You need to add some rows of data.</div>
        <div class="row-container" ng-repeat="row in DATA.attributes.rows track by $index" ng-drag="DATA.attributes.ACL.permissionsById[CurrentUser.id].write" ng-drop="true" ng-drop-success="moveRow($index,$data,$event)" ng-drag-data="DATA" ng-mouseenter="rowTools = true" ng-mouseleave="rowTools = false" row="{{$index}}">
          <div class="row-header" ng-model="row.title" ng-attr-contenteditable="{{DATA.attributes.ACL.permissionsById[CurrentUser.id].write}}"></div>
          <div class="row">
            <i class="fa fa-minus-circle" aria-hidden="true" ng-click="deleteRow($index)" ng-show="rowTools" ng-if="DATA.attributes.ACL.permissionsById[CurrentUser.id].write"></i>
            
            <div class="item" ng-repeat="item in row.columns track by $index">
              <div class="content" ng-model="item.text" ng-attr-contenteditable="{{DATA.attributes.ACL.permissionsById[CurrentUser.id].write}}"></div>
              
              <div class="controls">
                <i class="fa" ng-class="!item.locked ? 'fa-unlock' : 'fa-lock locked'" aria-hidden="true" ng-click="$toggleCellLock(item)" ng-if="DATA.attributes.ACL.permissionsById[CurrentUser.id].write"></i>
              </div>

              <ul class="projects" ng-repeat="item in row.detail_planning[activityColumn].DetailPlan.projects" ng-if="$index == activityColumn">
                <li>{{item.Project.title}}</li>
              </ul>
              <ul class="activities"></ul>

              <div class="project-controls">
                <span class="" ng-if="isActivityColumn()">
                  <i class="fa fa-icon fa-plus"></i>
                  <span ng-click="openModal()">Project</span>
                </span>
                <span class="" ng-if="isActivityColumn()">
                  <i class="fa fa-icon fa-plus"></i>
                  <span ng-click="openModal()">Activity</span>
                </span>
              </div>

            </div>
          </div>
          <i class="fa fa-bars" aria-hidden="true" ng-drag-handle ng-if="DATA.attributes.ACL.permissionsById[CurrentUser.id].write"></i>
        </div>
        <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addRow(DATA)" ng-if="DATA.attributes.ACL.permissionsById[CurrentUser.id].write"></i>
      </div>
      <div class="footer-container">
        <div ng-model="footerText" ng-attr-contenteditable="{{DATA.attributes.ACL.permissionsById[CurrentUser.id].write}}"></div>
        <div class="logo-bottom">
          <!-- <img src="https://v2.garagosoftware.com/wp-content/uploads/2017/03/garago-blanc.png"> -->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
