<ion-view view-title="Edit File">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon menu-toggle" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear button-assertive" ng-click="confirmDelete(FILE)">&nbsp;Delete</button>&nbsp;
      <!-- <button class="button button-icon button-clear" ng-click="confirmCancel()"><i class="fa fa-icon fa-times-circle"></i>&nbsp;Cancel</button>&nbsp; -->
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content id="Edit" scroll="true" class="File">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshData()">
    </ion-refresher>
    <div class="list card">
      <div class="item item-avatar edit-file-title">
        <i class="fa" ng-class="FILE.attributes.icon" aria-hidden="true"></i>
        <input class="title" placeholder="{{FILE.attributes.title}}" ng-model="NEW_TITLE" />
        <br/>
        <!-- <h2><b>{{FILE.attributes.title}}</b></h2> -->
        <span class="modified">
            <span>Modified: {{FILE.updatedAt | moment}}</span>
        <div>Created by: {{FILE.attributes.createdBy.email}}</div>
        </span>
        <!-- <span class="tags">
            <span ng-repeat="tag in FILE.attributes.tags">
                {{tag.title}}
            </span>
        </span> -->
        <div class="chip-container">
          <div class="experimental-chips">
            <!-- <i class="fa fa-tag"></i> -->
            <!-- <h4>{{'LIBRARY_DASHBOARD.TAGS' | translate }}</h4> -->
            <!-- <span class="instructions">{{'LIBRARY_DASHBOARD.TAGS_MESSAGE' | translate }}</span> -->
            <md-chips ng-model="searchTags" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-require-match="false">
              <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.name" placeholder="{{'LIBRARY_DASHBOARD.SEARCH_NOC_CODES' | translate }}" md-menu-class="autocomplete-custom-template">
                <md-item-template>
                  <span class="item-title">
                      <i class="fa fa-search"></i>
                      <span> {{item.attributes.title}} </span>
                  </span>
                  <span class="item-metadata">
                      <span>
                        <span>{{'LIBRARY_DASHBOARD.NOC_CODE' | translate }}:<strong>{{item.attributes.code}}</strong></span>
                  </span>
                  <span>
                        <!-- <strong>{{item.forks}}</strong> -->
                      </span>
                  </span>
                </md-item-template>
                <span md-highlight-text="searchText">{{item.attributes.title}} :: {{item.attributes.code}}</span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                    <strong>{{$chip.attributes.title}}</strong>
                    <!-- <em>({{$chip.attributes.code}})</em> -->
                  </span>
              </md-chip-template>
            </md-chips>
          </div>
        </div>
        <div class="item item-body">
          <!-- <img class="full-image" src="delorean.jpg"> -->
          <!--  <p>
          Stats for file could go here
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p> -->
        </div>
      </div>
      <div class="delete-item button button-block button-balanced" ng-click="updateFile(searchTags,NEW_TITLE)">
        <i class="fa fa-icon fa-save"></i>&nbsp;Save
      </div>
  </ion-content>
</ion-view>
