<ion-view id="intro" class="">
  <div class="logo">
    <img src="../img/logo.png">
  </div>
  <div class="skip button button-balanced" ng-hide="slideNum == (totalSlides-1)" ng-click="skipSlide()">Login</div>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" active-slide="slideNum">
    <ion-slide class="slide1">
      <div class="slide-text animated fadeInUp">
        <h1>Business success through valueable insights.</h1>
        <p>Full reporting and analysis.</p>
      </div>
    </ion-slide>
    <ion-slide class="slide2">
      <div class="slide-text animated fadeInUp">
        <h1>Manage resources and their allocation.</h1>
        <p>File management to people management.</p>
      </div>
    </ion-slide>
    <ion-slide class="slide3">
      <div class="slide-text animated fadeInUp">
        <h1>Planning for business success.</h1>
        <p>Create and manage your Action Plans</p>
      </div>
    </ion-slide>
    <ion-slide class="slide4">
      <div class="slide-text animated fadeInUp">
        <h1>Reports with true insights.</h1>
        <p>Track your progress and results.</p>
      </div>
    </ion-slide>
  </ion-slide-box>
  <div class="intro-controls">
    <div class="button button-block button-balanced" ng-click="nextSlide()">{{buttonLabel}}</div>
  </div>
</ion-view>
