<ion-view id="Invite" class="padding" view-title="{{'INVITE.HEADER' | translate }}">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon menu-toggle" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-conent>
    <div class="invite-box">
      <!-- <h1>Send Invite</h1> -->
      <div class="item item-input invite-input">
        <i class="fa fa-envelope-o placeholder-icon"></i> &nbsp;
        <input class="invite-email" type="text" placeholder="{{'EMAIL' | translate }}" ng-model="user.email">
      </div>
      <div class="canUpload">
        <md-checkbox ng-model="user.canUpload" aria-label="can upload">
          {{'INVITE.USER_CAN_UPLOAD' | translate }}: {{ user.canUpload ? 'Yes':'No' }}
        </md-checkbox>
        <md-checkbox ng-model="user.isAdmin" aria-label="is admin">
          {{'INVITE.USER_IS_ADMIN' | translate }}: {{ user.isAdmin ? 'Yes':'No' }}
        </md-checkbox>

        <md-select placeholder="{{'INVITE.ASSIGN_TO_REGION' | translate }}" ng-model="user.region" md-on-open="getRegions()" style="min-width: 200px;" class="region-button">
          <md-option ng-value="region" ng-repeat="region in regions">{{region.attributes.title}}</md-option>
        </md-select>
        
      </div>
      <div class="button button-block button-balanced" ng-click="inviteUser(user)">{{'INVITE.INVITE' | translate }}</div>
    </div>
  </ion-conent>
</ion-view>
