<ion-view view-title="Smart Library">
  <!-- <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear" ng-click="createNewPlan()"><i class="fa fa-icon fa-plus"></i></button>
        </ion-nav-buttons>

    </ion-nav-bar> -->
  <ion-content id="Library" scroll="true">
    <div class="search animated slideInDown">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i> &nbsp;
        <input class="main-search" type="text" placeholder="Search" ng-model="search.text" ng-change="searchFiles(search.text)">
      </label>
      <div class="filters">
        <i class="fa fa-times-circle placeholder-icon" ng-click="clearSearch()"></i>
        <i class="fa fa-filter" ng-model="showFilters" ng-click="toggleFilters()"></i>
      </div>
    </div>
    <div class="filter-panel" ng-class="showFilters ? 'open':'close'" ng-show="showFilters">
      <i class="fa fa-retweet" ng-click=""></i>
      <i class="fa fa-calendar" ng-click=""></i>
      <div class="toggle" style="float:right">
        <md-switch ng-model="data.cb1" aria-label="Switch 1">
          Filter
        </md-switch>
      </div>
    </div>

    <div class="list" id="upload-container">
      <div class="item item-avatar">
        <i class="fa fa-upload" ng-click="uploadFiles()"></i>
        <i class="fa fa-tag"></i>
        <span class="file-input"><input type="file" accept="image/*,.pdf,.doc,.docx,.txt,.zip" id="upload" multiple/></span>
        <div class="chips">
          <md-chips ng-model="searchTags" name="tagName" readonly="false" md-removable="true" md-max-chips="10" placeholder="Add tag(s) here...">
            <md-chip-template>
              <strong>{{$chip}}</strong>
            </md-chip-template>
          </md-chips>
        </div>
      </div>
    </div>

    <div class="search-results">
      <!-- <div class="warning" ng-if="!searchResults || searchResults.length < 1">
        <h1>No search results.</h1>
      </div> -->
      <div class="list card" ng-repeat="item in searchResults track by $index" ng-if="searchResults || searchResults.length > 0">
        <div class="item item-avatar">
            <i class="fa" ng-class="item.attributes.icon" aria-hidden="true"></i>
          <h2>{{item.attributes.title}}</h2>
          <p>Modified: {{item.updatedAt | date:'fullDate'}}</p>
          <div class="options">
            <md-menu>
              <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()">
                <i md-menu-origin md-svg-icon="call:textsms" class="fa fa-ellipsis-v"></i>
              </md-button>
              <md-menu-content width="4" ng-click="$mdMenu.close()">
                <md-menu-item ng-repeat="item in ['Edit', 'Delete', 'Share']">
                  <md-button>
                    {{item}}
                  </md-button>
                </md-menu-item>
            </md-menu>
          </div>
        </div>
        <div class="item item-body" ng-if="item.description">
          <p>{{item.description}}</p>
        </div>
      </div>
    </div>
    <div class="file-dashboard animated fadeIn">
      <div class="list card">
        <div class="item item-avatar">
          <i class="fa fa-folder-o" aria-hidden="true"></i>
          <h2>Recent Files</h2>
          <!-- <p>Stats &amp; Quick Reference</p> -->
        </div>
        <div class="item item-body">
          <p ng-repeat="item in userFiles">
              <i class="fa" ng-class="item.attributes.icon" aria-hidden="true"></i> <span>Filename: <a href="{{item.attributes.file._url}}" target="_blank">{{item.attributes.title}}</a></span>
            <span class="modified">
                <span>Modified: {{item.updatedAt | date:'shortDate'}}</span>
            </span>
            <span class="tags">
                <span ng-repeat="tag in item.attributes.tags">
                    {{tag}}
                </span>
            </span>
          </p>
        </div>
      </div>
      <div class="list card">
        <div class="item item-avatar">
          <i class="fa fa-share-alt" aria-hidden="true"></i>
          <h2>Shared Documents</h2>
          <p></p>
        </div>
        <div class="item item-body">
          <p>{{item.description}}</p>
          <p>{{item.data}}</p>
          <p>
            <a href="{{item.download}}" class="subdued">Download</a>
            <a href="#" class="subdued">Share</a>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>