<ion-view id="login" class="padding">
  <br/>
  <div class="lang-switch" ng-click="changeLanguage()">{{defaultLanguage}}</div>
  <div class="login-box animated bounceIn">
    <div class="logo">
      <img src="../img/logo.png">
    </div>
    <form name="loginForm" class="login-field login-form list" ng-submit="login(user)" novalidate>
      <md-input-container class="md-block">
        <label>{{'EMAIL' | translate }}</label>
        <input name="email" ng-model="user.email" type="email" required>
      </md-input-container>
      <md-input-container class="md-block">
        <label>{{'PASSWORD' | translate }}</label>
        <input ng-model="user.password" type="password" required>
      </md-input-container>
      <button ng-if="touchIdAvailable" round text-center ng-click="checkTouchID">
        <div class="submit">
          <button type="submit" class="button button-block button-balanced" ng-disabled="loginForm.$invalid">
            {{'SUBMIT' | translate }}
          </button>
        </div>
    </form>
    <div class="extra-account-functions">
      <div ng-click="registerNewUser()">{{'SIGN_UP' | translate }}</div>
      <div ng-click="openPassReset()">{{'RESET_PASSWORD' | translate }}</div>
    </div>
  </div>
</ion-view>
