<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <!-- <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" expose-aside-when="large">
    <!-- <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar> -->
    <ion-content id="MainMenu">

      <ion-slide-box on-slide-changed="slideHasChanged($index)">

        <ion-slide>
          <div class="menu-header">
            <div class="logo">
              <img src="http://dev.goforms.ca/assets/img/app/profile/garago.png">
            </div>
            <div class="mail">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </div>
            <div class="profile">
              
            </div>
            <div class="search">

            </div>
          </div>
          <ion-list class="menu-list">

            <ion-item menu-close href="#/app/dashboard">
              <i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp; Dashboard
            </ion-item>

            <div class="menu-group" ng-repeat="group in MENU_ACTIONPLAN">
              <ion-item class="item-stable header" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                  &nbsp;<i class="fa fa-cubes" aria-hidden="true"></i> &nbsp; {{group.name}} &nbsp; <i class="icon fa" ng-class="isGroupShown(group) ? 'fa-minus' : 'fa-plus'"></i>
              </ion-item>
              <ion-item class="item-accordion" menu-close ng-repeat="item in group.items" ng-show="isGroupShown(group)" href="{{item.link}}">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp;{{item.title}}
              </ion-item>
            </div>

            <ion-item menu-close href="#/app/library">
              <i class="fa fa-server" aria-hidden="true"></i> &nbsp; Smart Library
            </ion-item>

          </ion-list>
        </ion-slide>

        <ion-slide>
          <div class="user-preferences">
            <div class="padding">
              <md-switch ng-model="data.cb1" aria-label="Switch 1">
                Switch 1: {{ data.cb1 }}
              </md-switch>
              <md-switch ng-model="data.cb1" aria-label="Switch 1">
                Switch 1: {{ data.cb1 }}
              </md-switch>
              <md-switch ng-model="data.cb1" aria-label="Switch 1">
                Switch 1: {{ data.cb1 }}
              </md-switch>
              <md-switch ng-model="data.cb1" aria-label="Switch 1">
                Switch 1: {{ data.cb1 }}
              </md-switch>
              <md-switch ng-model="data.cb1" aria-label="Switch 1">
                Switch 1: {{ data.cb1 }}
              </md-switch>
            </div>
          </div>
        </ion-slide>

      </ion-slide-box>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>