<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <!-- <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" expose-aside-when="large">
    <!-- <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar> -->
    <ion-content id="MainMenu">

      <ion-slide-box on-slide-changed="slideHasChanged($index)">

        <ion-slide>
          <div class="menu-header">
            <div class="logo">
              <img src="http://dev.goforms.ca/assets/img/app/profile/garago.png">
            </div>
          </div>
          <ion-list>

            <ion-item menu-close href="#/app/dashboard">
              Dashboard
            </ion-item>

            <div ng-repeat="group in MENU_ACTIONPLAN">
              <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                {{group.name}} &nbsp; <i class="icon fa" ng-class="isGroupShown(group) ? 'fa-minus' : 'fa-plus'"></i> 
              </ion-item>
              <ion-item class="item-accordion" menu-close ng-repeat="item in group.items" ng-show="isGroupShown(group)" href="{{item.link}}">
                {{item.title}}
              </ion-item>
            </div>

            <ion-item menu-close href="#/app/library">
              Smart Library
            </ion-item>

          </ion-list>
        </ion-slide>

        <ion-slide>
          <div class="user-preferences">
            <ion-list>
              <div ng-repeat="group in MENU">
                <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                  <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Group {{group.name}}
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
                  {{item.title}}
                </ion-item>
              </div>
            </ion-list>
          </div>
        </ion-slide>

      </ion-slide-box>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>