<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <!-- <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar> -->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" expose-aside-when="large">
    <!-- <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar> -->
    <ion-content id="MainMenu">
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide id="Menu">
          <ion-content scroll="true">
              <div class="menu-header">
                <div class="logo">
                  <img src="https://dev.goforms.ca/assets/img/app/profile/garago.png">
                </div>
                <div class="mail" ng-if="CurrentUser.attributes.isAdmin">
                  <i class="fa fa-envelope-o" aria-hidden="true" ng-click="gotoSlide(1)"></i>
                  <div class="badge animated bounceIn">5</div>
                </div>
                <div class="profile" ng-click="gotoSlide(2)">
                  <div class="image"></div>
                  <div class="badge animated bounceIn">1</div>
                </div>
              </div>
              <ion-list class="menu-list" scroll="true">
                <ion-item menu-close href="#/app/dashboard" ng-class="isActiveMenu('#/app/dashboard') ? 'active':''" ng-if="CurrentUser.attributes.isAdmin">
                  <i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp; Dashboard
                </ion-item>
                <div class="menu-group" ng-repeat="group in MENU_ACTIONPLAN">
                  <ion-item class="item-stable header" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
                    &nbsp;<i class="fa fa-{{group.class}}" aria-hidden="true"></i> &nbsp; {{group.name}} &nbsp; <i class="icon fa" ng-class="isGroupShown(group) ? 'fa-minus' : 'fa-plus'"></i>
                  </ion-item>
                  <ion-item class="item-accordion" menu-close ng-repeat="item in group.items" ng-show="isGroupShown(group)" href="{{item.link}}" ng-class="isActiveMenu(item.link) ? 'active':''">
                    <i class="fa fa-{{item.class}}" aria-hidden="true"></i> &nbsp;{{item.title}}
                  </ion-item>
                </div>
                <ion-item menu-close href="#/app/collaboration" ng-class="isActiveMenu('#/app/collaboration') ? 'active':''" ng-if="CurrentUser.attributes.isAdmin">
                  <i class="fa fa-users" aria-hidden="true"></i> &nbsp; Collaboration
                </ion-item>
                <ion-item menu-close href="#/app/contact" ng-class="isActiveMenu('#/app/contact') ? 'active':''" ng-if="CurrentUser.attributes.isAdmin">
                  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; Contacts
                </ion-item>
              </ion-list>
          </ion-content>
        </ion-slide>
        <ion-slide id="Messages">
          <div class="user-messages">
            <div class="menu-header">
              <div class="logo">
                <i class="fa fa-comments"></i>
              </div>
              <div class="menu">
                <i class="fa fa-bars" aria-hidden="true" ng-click="gotoSlide(0)"></i>
              </div>
              <div class="profile" ng-click="gotoSlide(2)">
                <div class="image"></div>
                <div class="badge animated bounceIn">1</div>
              </div>
            </div>
            <div class="list">
              <a class="item item-avatar" ng-repeat="message in MESSAGES">
                <img ng-src="{{CurrentUser.attributes.imageFile._url}}" ng-click="getNewImage()">
                <h2>{{message.attributes.sentFrom.username}}</h2>
                <p>{{message.attributes.message}}</p>
              </a>
            </div>
          </div>
        </ion-slide>
        <ion-slide id="UserProfile">
          <ion-content class="user-messages" scroll="true">
            <div class="menu-header">
              <div class="user-name">Jeffrey Coleman</div>
              <div class="logo">
                <img ng-src="{{CurrentUser.attributes.image._url}}" ng-click="getNewImage()">
              </div>
              <div class="menu">
                <i class="fa fa-bars" aria-hidden="true" ng-click="gotoSlide(0)"></i>
              </div>
              <div class="mail">
                <i class="fa fa-envelope-o" aria-hidden="true" ng-click="gotoSlide(1)"></i>
                <div class="badge animated bounceIn">5</div>
              </div>
            </div>
            <div class="user-prefs">
              <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'On'" ng-false-value="'Off'" class="md-warn">
                Notiifications: {{ data.cb2 || 'Off' }}
              </md-switch>
            </div>
            <div class="logout padding">
              <div class="button button-block button-assertive button-clear" ng-click="logout()">Logout</div>
            </div>
          </ion-content>
        </ion-slide>
      </ion-slide-box>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
