<ion-view id="Users" class="padding" view-title="Manage Users">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon menu-toggle" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <i class="fa fa-minus-circle" ng-click="showDelete()"></i>
      <!-- <i class="fa fa-list" ng-click="showReOrder()"></i> -->
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
      <ion-item ng-repeat="user in users" class="item-thumbnail-left">
        <img ng-src="{{user.attributes.image._url || '../img/no-image.jpg'}}">
        <h2>{{user.attributes.firstName}} {{user.attributes.lastName}} <span>{{user.attributes.isAdmin ? '(Admin)' : '(Member)'}}</span></h2>
        <p>{{user.attributes.email}}</p>
        <p>Joined: {{user.createdAt | moment}}</p>
        <span><div class="button button-small" ng-class="user.attributes.canUpload ? 'canUpload' : 'cantUpload'" ng-click="toggleUploadPrivileges(user)">{{user.attributes.canUpload ? 'Can Upload' : 'Cannot Upload'}}</div> </span>
        <ion-option-button class="button-info button-positive" ng-click="edit(user)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-info button-assertive" ng-click="deleteUser($index,users[$index])">
          Delete
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled" ng-click="deleteUser($index,users[$index])">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(user, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
