<ion-modal-view id="NewProject">
  <ion-header-bar>
    <div class="button button-assertive">Cancel</div>
    <h1 class="title">Create New Project</h1>
    <div class="button button-balanced">Save</div>
  </ion-header-bar>
  <ion-content>
    <div class="create-project padding">
      <div class="list list-inset">
        <label class="item item-input item-floating-label">
          <span class="input-label">Project Title</span>
          <input type="text" placeholder="Project Title">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Due Date</span>
          <input type="date" placeholder="Due Date">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Primary Contact</span>
          <input type="text" placeholder="Primary Contact">
        </label>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
