<ion-modal-view>
    <ion-content class="modal-login">
        <div class="container">
            <br/>
            <br/>
            <br/>
            <div class="logo">
                <img src="../img/logo.png">
            </div>
            <form class="login-field recover-form list" ng-submit="recoverPassword(recover.email)">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Client Email</label>
                    <input required type="email" name="clientEmail" ng-model="recover.email" ng-pattern="/^.+@.+\..+$/" />

                    <div ng-messages="projectForm.clientEmail.$error" role="alert">
                      <div ng-message-exp="['required', 'pattern']">
                        Please enter a valid email.
                      </div>
                    </div>
                  </md-input-container>
                <!-- <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input ng-model="recover.email" type="email" placeholder="Email">
                </label> -->
                <div class="submit padding">
                	<button  type="submit" class="button button-block button-balanced">
					  Reset Password
					</button>
                </div>
            </form>
            <div ng-click="closePassReset()">Cancel</button>
        </div>
    </ion-content>
</ion-modal-view>
