#Dashboard .card {
    width: 48%;
    margin:1%;
    float:left;
}

#Dashboard .card .add-user {
    position: absolute;
    top: 25px;
    right: 10px;
}

#Dashboard .card.my-projects i.fa.fa-retweet {
    float: right;
}

#Dashboard .card.my-projects .totals{
    float:right;
    color:green
}

#Dashboard .my-organizations .contacts{
    margin:10px 0 0 0
}