/* Empty. Add your own CSS if you like */
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

.bar.bar-stable {
    border-color: #b2b2b2;
    background-color: #2b3a41;
}

.bar.bar-stable i, .bar.bar-stable .button{
  color:#fff;
}

[ng-click]{
  cursor: pointer;
}

i.fa {
  font-size: 20px;
}

.user-file-options .favs-options  i.fa{
  font-size:40px;
}

md-icon.fa.fa-bars {
  font-size: 23px;
}

.plan-options {
  position: absolute;
}

#ActionPlan {
  background: #f3f3f3;
}

#ActionPlan .scroll {
  /*height: 100%;*/
}

#ActionPlan .locked{
  color:#bc4747
}

#ActionPlan .scroll .action-plan {
  height: 100%;
  background: #fff;
}

h1 {
  margin: 0;
  text-align: center;
}

ul {
  padding-left: 20px;
  list-style: disc;
}

[contenteditable]:hover {
  border: 1px dashed #03A9F4;
  margin: -1px;
  cursor: pointer;
  padding-bottom: 0px;
}

.columns {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.columns>i.fa.fa-plus-circle {
  position: absolute;
  right: -20px;
  font-size: 24px;
  top: 30%;
  color: #ddd;
}

.columns>i.fa.fa-plus-circle:hover {
  color: #333;
  cursor:pointer;
}

.row {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  position: relative;
}

.row i.fa.fa-minus-circle {
  position: absolute;
  left: -20px;
  font-size: 24px;
  z-index: 3;
  top: 30%;
  color:#ddd;
}

.rows {
  position: relative;
  margin-bottom: 50px;
}

.row i.fa.fa-minus-circle:hover{
  cursor: pointer;
  color:#333;
}

.rows i.fa.fa-plus-circle {
  position: absolute;
  left: 50%;
  font-size: 24px;
  bottom: -30px;
  z-index: 2;
  color: #ddd;
}

.rows i.fa.fa-plus-circle:hover {
  color: #333;
  cursor:pointer;
}




/*.column:hover {
  border: 1px dashed #ccc;
  margin:-1px;
}*/

.column {
  display: inline-flex;
  padding: 5px;
  width: 100%;
  position: relative;
}

#ActionPlan .item {
  display: inline-block;
  padding: 10px 5px;
  width: 33.33%;
  position: relative;
}

.column .title {
  padding: 20px 20px 20px 30px;
  position: relative;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.column .title:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 20px;
  background: url(../img/arrow-back.png);
  background-repeat: no-repeat;
  top: 0%;
  background-size: cover;
}

.column .title:after {
  content: "";
  position: absolute;
  right: 0px;
  height: 100%;
  width: 20px;
  background: url(../img/arrow-point.png);
  background-repeat: no-repeat;
  top: 0%;
  background-size: cover;
}

[contenteditable] i {
  font-style: italic;
}


[contenteditable].row-header:hover {
  border: 1px dashed #03A9F4;
  margin: 0px;
  cursor: pointer;
  padding-bottom: 2px;
  /* border-bottom: 4px dashed #03A9F4; */
}

[contenteditable][locked="true"]:hover {
  border: 0px dashed #C7C7C7;
  margin: 0px;
  cursor: default;
  padding-bottom: 3px;
}

.medium-editor-toolbar-actions {
  display: block;
  border-radius: 5px!important;
  overflow: hidden;
  border: 1px solid #333;
}

.medium-editor-toolbar li button {
  background: #666666;
  /* Old browsers */
  background: -moz-linear-gradient(top, #666666 0%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #666666 0%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #666666 0%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  color: #fff;
  border: none;
}

.medium-editor-toolbar li button[class*='-active'] {
  background: #666666;
  /* Old browsers */
  background: -moz-linear-gradient(top, #666666 100%, #000000 0%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #666666 100%, #000000 0%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #666666 100%, #000000 0%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}

.medium-toolbar-arrow-under:after {
  font-family: "FontAwesome";
  border-style: none!important;
  content: '\f0d7'!important;
  bottom: 9px!important;
}

.item .content {
  position: relative;
  width: 95%;
  padding: 5px;
  font-size: 12px;
}

.controls i {
  transition: all 0.35s ease;
  display: block;
  font-size: 11px;
  margin: 2px 0;
  color: #ddd;
}

.controls i:hover {
  color: #333;
  cursor:pointer;
}

.controls {
  position: absolute;
  right: 5px;
  top: 5px;
  display: block;
  text-align: center;
}

.item.warning {
  width: 100%;
  text-align: center;
  color: red;
}

.medium-editor-element {
  word-wrap: break-word;
  min-height: 0px!important;
}

.row-header {
    padding: 10px 0 0 5px;
    width: 100%;
    border-bottom: 4px solid #999;
    color: #999;
    font-weight: 900;
}

.column i.fa.fa-minus-circle {
  position: absolute;
  left: 45%;
  font-size: 24px;
  bottom: -10px;
  z-index: 5;
  color:#ddd;
}
.column i.fa.fa-minus-circle:hover{
  color:#333;
  cursor: pointer;
}

.row-container {
  position: relative;
  width: 103%;
  padding-right: 3%;
}

.row-container>i.fa.fa-bars {
  position: absolute;
  right: 1%;
  font-size: 24px;
  color: #ddd;
  top: 50%;
}

.row-container i.fa.fa-bars:hover {
  color: #333;
  cursor: pointer;
}

.plan-title {
  margin: 0 auto 50px auto;
  max-width: 600px;
}


.action-plan {
  margin: 1%;
  background: #fff;
  padding: 5%;
}


.column.header .column-number.ng-binding {
    position: absolute;
    z-index: 10;
    right: 10%;
    top: 35%;
    font-size: 30px;
    text-align: right;
    color: #fff;
    opacity: 0.50;
}

.plan-title h1 {
    color: #0d4678;
    font-family: 'Pacifico', cursive;
}

.plan-settings{
  float:right;
}

.plan-settings i{
  font-size:30px;
  color:#bbb;
}

.plan-settings i:hover{
  color:#333;
  cursor: pointer;

}


.menu-header h3 {
    padding: 15px;
    color:#333;
}

#SettingsMenu .item.activated{
  background:none;
}

#SettingsMenu .tabs-top > .tabs, .tabs.tabs-top {
    top: 0px;
}

#SettingsMenu .settings-container{
  position: relative;
  top:44px;
}

#SettingsMenu .tab-item, .tabs-icon-left > .tabs .tab-item, .tabs-icon-right.tabs .tab-item, .tabs-icon-right > .tabs .tab-item {
    font-size: 14px;
}

#SettingsMenu .panel-selection {
    padding: 50px 10px 10px 10px;
}

#SettingsMenu md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
}

#SettingsMenu .footer {
    margin: 20px 0;
}


#SettingsMenu .color-selection{
  position: relative;
}


#SettingsMenu .color-selection > div {
    display: inline-block;
    vertical-align: middle;
}

#SettingsMenu .color-selection [md-color-picker]{

}

.footer-container {
    position: relative;
    margin: 10px 0;
}

.footer-container .logo-bottom {
    position: absolute;
    right: 100px;
    max-width: 150px;
    top:0;
}

.footer-container .logo-bottom img{
    width:100%;
    height: auto;
}

@media (max-width:865px){
  .column .title:before{
    display:none;
  }
  .column .title:after{
    display:none;
  }
  .column .title {
    padding: 20px 20px 20px 20px;
    text-align: center;
  }
}

#ActionPlan .plan-owner {
  color: #bbb;
}

#ActionPlan .project-controls {
    font-size: 9px;
    color: blue;
    position: absolute;
    bottom: -2px;
}

#ActionPlan .project-controls i{
  font-size: 9px
}

#ActionPlan .activity-controls {
    font-size: 9px;
    color: blue;
    position: absolute;
    bottom: -2px;
}

#ActionPlan .activity-controls i{
  font-size: 9px
}


.project-controls {
    opacity: 1;
}
.project-controls.ng-enter {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}
.project-controls.ng-enter-active {
    opacity: 1;
}

.project-controls.ng-leave {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    opacity: 1;
}
.project-controls.ng-leave-active {
    opacity: 0;
}

.activity-controls {
    opacity: 1;
}
.activity-controls.ng-enter {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
}
.activity-controls.ng-enter-active {
    opacity: 1;
}

.activity-controls.ng-leave {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    opacity: 1;
}
.activity-controls.ng-leave-active {
    opacity: 0;
}


#NewProject .scroll {
    height: 100%;
}

.menu-toggle{
  display:none;
}

@media (max-width:768px){
  .menu-toggle{
    display:block;
  }
}


md-switch span {
    color: #fff;
}

.title.title-center.header-item {
  color: #fff;
}

.card{
  border-top:5px solid;
}

.welcome-user {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 12px;
}


md-select.md-default-theme .md-select-icon, md-select .md-select-icon {
    color: rgb(255, 255, 255)!important;
}

md-select .md-select-value.md-select-placeholder {
    color: #fff!important;
}

md-input-container {
    width: 100%!important;
}

md-select:not([disabled]):focus .md-select-value{
  border-bottom-color:#fff!important;
}

md-input-container:not(.md-input-invalid).md-input-focused label{
  color:#fff!important;
}

.md-select-value>span:not(.md-select-icon) .md-text {
    color: #fff!important;
}



.ratings{
  float:left;
}

.rating.label-left .label-value+.star-container {
    margin-left: 0px!important;
}

.garago-footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: block;
    text-align: center;
    color: #f3f3f3;
    font-size: 11px;
}

.search-header{
  padding:15px 15px;
}

.lang-switch {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 18px;
    color: #2c3b42;
    background: #34cc5f;
    padding: 10px;
    z-index: 100;
}



#MainMenu input#upload {
    opacity: 0;
    display: block;
    max-width: 100px;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    left: 32%;
    top: 20px;
    height: 100px;
    z-index: 1;
}

#MainMenu input#upload:hover{
  cursor: pointer;