/* Empty. Add your own CSS if you like */


/*body{
  background:#333;
  color:#fff;
}*/

#ActionPlan {
  background: #f3f3f3;
}

#ActionPlan .scroll {
  /*height: 100%;*/
}

#ActionPlan .scroll .action-plan {
  height: 100%;
  background: #fff;
}

h1 {
  margin: 0;
  text-align: center;
}

ul {
  padding-left: 20px;
  list-style: disc;
}

[contenteditable]:hover {
  border: 1px dashed #03A9F4;
  margin: -1px;
  cursor: pointer;
}

.columns {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.columns>i.fa.fa-plus-circle {
  position: absolute;
  right: -20px;
  font-size: 24px;
  top: 30%;
  color: #ddd;
}

.columns>i.fa.fa-plus-circle:hover {
  color: #333;
  cursor:pointer;
}

.row {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  position: relative;
}

.row i.fa.fa-minus-circle {
  position: absolute;
  left: -20px;
  font-size: 24px;
  z-index: 3;
  top: 30%;
  color:#ddd;
}

.rows {
  position: relative;
}

.row i.fa.fa-minus-circle:hover{
  cursor: pointer;
  color:#333;
}

.rows i.fa.fa-plus-circle {
  position: absolute;
  left: 50%;
  font-size: 24px;
  bottom: -30px;
  z-index: 2;
  color: #ddd;
}

.rows i.fa.fa-plus-circle:hover {
  color: #333;
  cursor:pointer;
}




/*.column:hover {
  border: 1px dashed #ccc;
  margin:-1px;
}*/

.column {
  display: inline-block;
  padding: 5px;
  width: 33.33%;
  position: relative;
}

#ActionPlan .item {
  display: inline-block;
  padding: 10px 5px;
  width: 33.33%;
  position: relative;
}

.column .title {
  padding: 20px 20px 20px 30px;
  position: relative;
}

.column .title:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 20px;
  background: url(../img/arrow-back.png);
  background-repeat: no-repeat;
  top: 0%;
  background-size: cover;
}

.column .title:after {
  content: "";
  position: absolute;
  right: 0px;
  height: 100%;
  width: 20px;
  background: url(../img/arrow-point.png);
  background-repeat: no-repeat;
  top: 0%;
  background-size: cover;
}

[contenteditable] i {
  font-style: italic;
}

.medium-editor-toolbar-actions {
  display: block;
  border-radius: 5px!important;
  overflow: hidden;
  border: 1px solid #333;
}

.medium-editor-toolbar li button {
  background: #666666;
  /* Old browsers */
  background: -moz-linear-gradient(top, #666666 0%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #666666 0%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #666666 0%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
  color: #fff;
  border: none;
}

.medium-editor-toolbar li button[class*='-active'] {
  background: #666666;
  /* Old browsers */
  background: -moz-linear-gradient(top, #666666 100%, #000000 0%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #666666 100%, #000000 0%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #666666 100%, #000000 0%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}

.medium-toolbar-arrow-under:after {
  font-family: "FontAwesome";
  border-style: none!important;
  content: '\f0d7'!important;
  bottom: 9px!important;
}

.item .content {
  position: relative;
  width: 95%;
  padding: 5px;
  font-size: 12px;
}

.controls i {
  transition: all 0.35s ease;
  display: block;
  font-size: 11px;
  margin: 2px 0;
  color: #ddd;
}

.controls i:hover {
  color: #333;
  cursor:pointer;
}

.controls {
  position: absolute;
  right: 5px;
  top: 5px;
  display: block;
  text-align: center;
}

.item.warning {
  width: 100%;
  text-align: center;
  color: red;
}

.medium-editor-element {
  word-wrap: break-word;
  min-height: 0px!important;
}

.row-header {
    padding: 10px 0 0 5px;
    width: 100%;
    border-bottom: 4px solid #999;
    color: #999;
    font-weight: 900;
}

.column i.fa.fa-minus-circle {
  position: absolute;
  left: 45%;
  font-size: 24px;
  bottom: -10px;
  z-index: 5;
  color:#ddd;
}
.column i.fa.fa-minus-circle:hover{
  color:#333;
  cursor: pointer;
}

.row-container {
  position: relative;
  width: 103%;
  padding-right: 3%;
}

.row-container>i.fa.fa-bars {
  position: absolute;
  right: 1%;
  font-size: 24px;
  color: #ddd;
  top: 50%;
}

.row-container i.fa.fa-bars:hover {
  color: #333;
  cursor: pointer;
}

.plan-title {
  margin: 0 0 50px 0;
}


.action-plan {
  margin: 50px;
  background: #fff;
  padding: 30px;
}


.column.header .column-number.ng-binding {
    position: absolute;
    z-index: 10;
    right: 10%;
    top: 35%;
    font-size: 30px;
    text-align: right;
    color: #fff;
    opacity: 0.50;
}

.plan-title h1 {
    color: #888;
}

.plan-settings{
  float:right;
}

.plan-settings i{
  font-size:30px;
  color:#bbb;
}

.plan-settings i:hover{
  color:#333;
  cursor: pointer;

}


.menu-header h3 {
    padding: 15px;
    color:#333;
}

#SettingsMenu .item.activated{
  background:none;
}

#SettingsMenu .tabs-top > .tabs, .tabs.tabs-top {
    top: 0px;
}

#SettingsMenu .settings-container{
  position: relative;
  top:44px;
}