#Users .bar .right-buttons i {
    font-size: 24px!important;
    margin: 5px;
}

#Users .uploadIndicator{
	padding:5px;
}

#Users .canUpload{
	background:green;
	color:#fff;
}

#Users .cantUpload{
	background:#ddd;
	color:#bbb;
}

#Users .uploadIndicator i {
    font-size: 45px;
    margin: 0px 10px 0 0;
}

#Users ion-item img {
    border-radius: 100%;
}